html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: gray; /* Color de fondo del track */
}

/* Estilo del "pulgar" o el elemento que se arrastra en la barra de scroll */
::-webkit-scrollbar-thumb {
    background: white; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados del pulgar */
}

/* Cambia el color del pulgar cuando está en hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(37, 35, 35);
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

h1 {
    color: #ff4757;
    margin-top: 20px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.container input {
    border-radius: 1em;
    height: 30px;
    width: 200px;
    background-color: transparent;
    box-shadow: 5px 5px 5px solid black;
    color: white;
    padding-left: 0.8rem;
    outline: 1px solid white;
}

.container input:hover {
    outline: none;
}

.container button {
    width: 50px;
    height: 30px;
    border-radius: 0.5em;
    background-color: #ff4757;
    color: white;
    outline: 1px solid black;
    align-items: center;
}

.container button:hover {
    transition: transform 0.5s ease;
    transform: scale(0.98);
}

.container p {
    color: white;
}

#pokemonList {
    margin-top: 40px;
    padding-left: 120px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    margin: 10px 0;
    padding-bottom: 30px;
    width: 200px;
    text-align: center;
    box-shadow: 3px 3px 15px black;
    background-color: transparent;
    color: white;
    width: 15em;
}

.pokemon:hover {
    transition: transform 0.5s ease;
    transform: scale(1.02);
    border: 1px solid #ddd;
}

.pokemon img {
    max-width: 150px;
}

.delete-btn {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4757;
    outline: 1px solid black;
}